<header class="header">
  <div class="header__container">
    <a class="header__logo" href="./index.html">
      <img src="./images/logo.png" alt="" />
      Furniro
    </a>

    <nav>
      <ul class="main-nav">
        <li>
          <a
            href="./index.html"
            class="main-nav__item-link @@if (context.homeActive) {main-nav__item-link--current}"
            >Home</a
          >
        </li>
        <li>
          <a
            href="./shop.html"
            class="main-nav__item-link @@if (context.shopActive) {main-nav__item-link--current}"
            >Shop</a
          >
        </li>
        <li>
          <a
            href="./blog.html"
            class="main-nav__item-link @@if (context.blogActive) {main-nav__item-link--current}"
            >Blog</a
          >
        </li>
        <li>
          <a
            href="./contact.html"
            class="main-nav__item-link @@if (context.contactActive) {main-nav__item-link--current}"
            >Contact</a
          >
        </li>
      </ul>
    </nav>

    <ul class="header-buttons">
      <li>
        <button class="header-buttons__button" type="button">
          <svg class="header-buttons__icon">
            <use href="./images/icons.svg#icon-account"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="header-buttons__button" type="button">
          <svg class="header-buttons__icon">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="header-buttons__button" type="button">
          <svg class="header-buttons__icon">
            <use href="./images/icons.svg#icon-heart"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="header-buttons__button" type="button">
          <svg class="header-buttons__icon">
            <use href="./images/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</header>
