.tabs {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;

  &__header {
    display: flex;
    border-bottom: 1px solid #ccc;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__header-item {
    padding: 20px;
    background-color: #fff;
    border-right: 1px solid #ccc;
    cursor: pointer;

    &--active {
      color: #fff;
      background-color: $primaryColor;
    }
  }

  &__content {
    padding: 30px 20px;
  }

  &__content-item {
    font-size: 18px;
  }
}