<div class="backdrop">
  <div class="modal">
    <div class="modal-header">
      <h3 class="modal-header__title">Modal title</h3>
      <button class="modal-header__button">
        <svg
          class="modal-header__icon"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          width="14"
          height="14"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          ></path>
        </svg>
      </button>
    </div>

    <div class="modal-body">
      <p class="modal-body__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sed aut
        quia reiciendis ea facilis doloribus minima alias error rem!
      </p>
    </div>

    <div class="modal-footer">
      <button
        class="modal-footer__button modal-footer__button--secondary"
        type="button"
      >
        Cancel
      </button>
      <button
        class="modal-footer__button modal-footer__button--primary"
        type="button"
      >
        Accept
      </button>
    </div>
  </div>
</div>
