.header {
  flex-shrink: 0;
  background-color: #fff;
  overflow: hidden;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  &__logo {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #000;
    font-size: 34px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }
}

// navigation
.main-nav {
  display: flex;
  gap: 75px;

  &__item-link {
    position: relative;
    display: flex;
    padding: 5px 0;
    color: #000;
    font-weight: 500;
    transition: 300ms color $transitionBase;

    &:hover:not(.main-nav__item-link--current) {
      color: $primaryColor;
    }

    &--current {
      color: $primaryColor;
      pointer-events: none;
    }
  }
}

// buttons
.header-buttons {
  display: flex;
  gap: 45px;

  &__button {
    display: flex;
    padding: 5px 0;
    background-color: transparent;

    &:hover .header-buttons__icon {
      fill: $primaryColor;
    }
  }

  &__icon {
    width: 28px;
    height: 28px;
    transition: 300ms fill $transitionBase;
  }
}
