.pagination {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  gap: 38px;

  &__button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    background-color: $bgPink;
    border-radius: 10px;
    transition: background-color 300ms $transitionBase;

    &:hover:not(.pagination__button--active) {
      background-color: $hoverPink;
    }

    &--next {
      width: 98px;
      height: 60px;
      font-weight: 300;
    }

    &--active {
      color: #fff;
      background-color: $primaryColor;
      pointer-events: none;
    }
  }
}
