.accordion {
  border: 1px solid #ccc;
  border-radius: 5px;

  &__item {
    transition: 300ms all $transitionBase;

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }

    // active
    &.accordion__item--active {
      .trigger {
        background-color: rgba(67, 173, 255, 0.1);
      }

      .trigger__text {
        color: $primaryColor;
      }

      .trigger__line-1 {
        transform: rotate(-180deg);
      }

      .trigger__line-2 {
        transform: rotate(0) !important;
      }

      .content {
        padding: 30px 10px;
        height: max-content;
        opacity: 1;
      }
    }
  }
}

/* ========== [TRIGGER] ========== */
.trigger {
  display: flex;
  padding: 10px;
  align-items: center;
  transition: 300ms background-color $transitionBase;
  cursor: pointer;

  &__text {
    color: #000;
    transition: 300ms color $transitionBase;
  }

  &__img {
    margin-left: auto;
  }

  &__line-1,
  &__line-2 {
    display: block;
    width: 18px;
    height: 2px;
    background: #000;
    border-radius: 25px;
    transition: 300ms transform $transitionBase;
  }

  &__line-2 {
    margin-top: -2px;
    transform: rotate(90deg);
  }
}

/* ========== [CONTENT] ========== */
.content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: 300ms all $transitionBase;
}
